.destaque{
    display: flex;
    height: 93vh;
    width: 100%;
}
.destaque__banner{
    align-items: flex-end;
    background-image: url("../../imgs/wonder-woman.jpg");
    background-size: cover;
    background-position-y: 50%;
    display: flex;
    height: 93vh;
    width: 100%;
}
.destaque .container-fluid{
    background-color: rgb(255, 255, 255, .5);
    margin: 0 0 15% 0;
    padding: 1em;
    width: 30%;
}