.lancamentos{
    background-image: url(../../imgs/retrato-jovem-em-chamas-blue.jpeg);
    background-size: cover;
    height: auto;
    width: 100%;
}
.lancamentos .container-fluid{
    display: flex;
    justify-content: space-between;
    height: 70vh;
    width: 90%;
}
.lancamentos__texto-box{
    align-self: flex-start;
    color: white;
    margin-top: 3%;
    width: 30%;
}
.lancamentos__carrossel{
    align-self: flex-end;
    margin-bottom: 3%;
    width: 45%;
}
.carousel-control-next, .carousel-control-prev{
    background: none;
    border: none;
}
@media screen and (max-width: 768px){
    .lancamentos .container-fluid{
        flex-direction: column;
        padding: 1rem;
    }
    .lancamentos__texto-box{
        width: 100%;
    }
    .lancamentos__carrossel {
        margin-bottom: 10%;
        width: 85%;
    }
}