
/**FILME EM DESTAQUE*/
.destaque{
    width: 100%;
    height: 93vh;
    display: flex;
}
.destaque__banner{
    width: 100%;
    height: 93vh;
    background-image: url(..//imgs/s3.jpg);
    background-size: cover;
    background-position-y: 80%;
    display: flex;
    align-items: flex-end;
}
.destaque .container-fluid{
    margin: 0 0 15% 0;
    width: 30%;
    background-color: rgb(255, 255, 255, .3);
    padding: 1em;
}

/**SESSÃO INDICAÇÕES**/


/**SESSÃO LANÇAMENTOS**/

