.cabecalhoPrincipal{
    display: flex;
    height: 7vh;
    width: 100%;
    justify-content: center;
    position: absolute;
}
.cabecalhoPrincipal .container{
    display: flex;
    width: 99%;
    justify-content: space-between;
    align-items: center;
}
.logoHeader{
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}
.barraNavegacao{
    width: 50%;
    height: 100%;
}
.barraNavegacaoLista{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.barraNavegacaoLink {
    text-decoration: none;
    font-weight: 700;
    color: white;
}
/**SESSÃO PRIMÁRIA - BANNER**/
.sessaoPrimaria{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(..//imgs/banner.jpg);
    background-size: cover;
    align-items: flex-end;
    justify-content: flex-start;
    background-attachment: fixed;
}
.sessaoPrimaria .container-fluid {
    margin: 0 0 14% 3%;
}
.chamada{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3.5em;
    margin-bottom: 3%;
    color: #f4f4f4;
}
.exibicaoLink{
    color: #f4f4f4;
    text-decoration: none;
}


/**SESSÃO TERCIÁRIA**/
.sessaoSecundaria {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-image: url(..//imgs/lms.jpg);
    background-size: cover;
    background-position-y: 65%;
}
.sessaoSecundaria .container-fluid {
    width: 70%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.explicacaoServico {
    width: 50%;
}
.dispositivos {
    width: 40%;
}
.explicacaoServicoTextoS2{
    color: #f4f4f4;
    font-weight: 700;
}

/**SESSAO QUATERNÁRIA, COM CARROSSEL**/
.sessaoTerciaria {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.sessaoTerciaria .container-fluid {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5% auto;
}
.logoEexplicacao{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}
.explicacaoServicoTextoS3{
    width: 50%;
    font-size: 1.5em;
}
.carroussel{
    width: 85%;
    display: flex;
    justify-content: space-around;
}

/**SESSÃO QUINTENÁRIA**/
.sessaoQuaternaria{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(..//imgs/sessaoterciaria.jpg);
    background-size: cover;
    background-position-y: 30%;
}
.sessaoQuaternaria .container-fluid {
    width: 90%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 3% auto;
}
.explicacaoServicoTextoS5{
    color: #f4f4f4;
    width: 30%;
    font-weight: 600;
}

/**FOOTER**/
.rodape{
    width: 100%;
    height: 20vh;
    display: flex;
}
.rodape .container-fluid {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.copyright{
    margin-bottom: 0;
}
.contato{
    color: rgb(36, 35, 35);
}