.recuperacao {
    align-items: center;
    display: flex;
    height: 83vh;
    width: 100%;
    background-color: rgb(250, 250, 250);
}
.recuperacao .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
    padding: 3rem;
    width: 50%;
    border: 1px rgb(103, 136, 151) solid;
}
.recuperacao__formulario{
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
}
.recuperacao__input{
    padding: .3rem;
    height: 3rem;
    width: 80%;
    border: 1px solid rgb(103, 136, 151);
}
.recuperacao__botao{
    background-color: rgb(103, 136, 151);
    border: none;
    color: whitesmoke;
    padding: .3rem;
    width: 20%;
}
.recuperacao__submit-msg-erro{
    color: rgb(180, 89, 89);
    font-size: 1em;
    margin-top: 3%;
}
@media screen and (max-width: 768px){
    .recuperacao .container-fluid{
        height: auto;
        padding: 1.3rem;
        width: 80%;
    }
    .recuperacao__formulario{
        flex-direction: column;
    }
    .recuperacao__botao, .recuperacao__input{
        width: auto;
    }
}
