.filmes{
    align-items: center;
    background-color: #f4f4f4;
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
}
.filmes .container-fluid{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-around;
    margin: 5% auto;
    width: 90%;
}
.filmes__texto-box{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    width: 100%;
}
.filmes__subtitulo{
    font-size: 1.5em;
    width: 50%;
}
.filmes__carrossel{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.filmes__carrossel--first{
    margin-right: 10px;
}
@media screen and (max-width: 768px){
    .filmes .container-fluid{
        height: auto;
    }
    .filmes__texto-box{
        align-items: center;
        flex-direction: column;
    }
    .filmes__titulo{
        align-self: flex-end;

        font-size: 1.5em;
    }
    .filmes__subtitulo{
        font-size: 1em;
        margin-top: 1%;
        width: 100%;
    }
    .filmes__carrossel{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .carousel-inner{
        margin: 0 0 5% 0;
    }
    .filmes__carrossel--first{
        margin-right: 0;
    }
}